<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Cruz Kevin Brian Joel Tp3</title>
<style>
.circulos{
	list-style-type: circle;
}
.circulos li {
  margin-bottom: 10px; 
}
.numeros {
  list-style-type: decimal;
  padding-left: 20px;
}

.numeros li {
  margin-bottom: 10px; 
}

</style>
</head>
<body>
	<header>
		<h1>¿Que es JAVA?</h1>
		<nav>
			<ol>
				<li><a href="#Introduccion">Definicion</a></li>
				<li><a href="#Filosofia">Filosofia</a></li>
			</ol>
		</nav>
	</header>
	<main>
		<section id="Introduccion">
			<h2>Introduccion</h2>
			<h3>¿Que es Java?</h3>
			<p>Java es un lenguaje de programacion y una plataforma Informatica que fue comercializada por primera vez en 1995 por Sun Microsystems.</p>
			<h3>Creacion</h3>
			<p>Java fue creado en 1991 por un equipo de ingenieros liderado por James Gosling en Sun Microsystems. La primera versión pública, Java 1.0, se lanzó en 1995. Desde entonces, Java se ha convertido en uno de los lenguajes de programación más populares y utilizados.</p>
			<ul class="circulos">
				<li>Su enfoque en la portabilidad y capacidad para ejecutarse en diferentes plataformas sin necesidad de reescribir el código lo ha hecho muy popular.</li>
				<li>Se utiliza ampliamente en aplicaciones de escritorio, web, móviles y empresariales.</li>
				<li>Java cuenta con una amplia comunidad de desarrolladores y un ecosistema de herramientas y frameworks que facilitan el desarrollo de software.</li>
			</ul>
		</section>
		<section id="Filosofia">
		<h2>Filosofia</h2>
		<p>El lenguaje Java se creó con cinco objetivos principales:</p>
		<ul class="numeros">
			<li>Debería usar el paradigma de la programación orientada a objetos.</li>
			<li>Debería permitir la ejecución de un mismo programa en múltiples sistemas operativos.</li>
			<li>Debería incluir por defecto soporte para trabajo en red.</li>
			<li>Debería diseñarse para ejecutar código en sistemas remotos de forma segura.</li>
			<li>Debería ser fácil de usar y tomar lo mejor de otros lenguajes orientados a objetos, como C++.</li>
		</ul>
		
		</section>
		
	</main>
	<aside>
    	<div>
    		<a href="https://www.oracle.com/java/" target="_blank">Sitio Oficial de java</a>
        		<img src="https://logowik.com/content/uploads/images/731_java.jpg" alt="Logo de Java" title="Java Logo">
		</div>
    </aside>
    <footer>
        <p>Contacto: kevincrzz.14.05@gmail.com</p>
        <p>Síguenos en nuestro GitHub:</p>
        <a href="https://github.com/keinve91">Github</a>
    </footer>
</body>
</html>