@charset "UTF-8";
.circulos{
	list-style-type: circle;
}
.circulos li {
  margin-bottom: 10px; 
  
  
}
.numeros {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 10px; 
  
}

.numeros li {
  margin-bottom: 10px; 
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex: 0 0 10%;
}

.header h1 {
    margin: 0;
}

nav ol {
    list-style: none;
    padding: 0;
}

nav ol li {
    display: inline;
    margin: 0 10px;
}

nav ol li a {
    color: #fff;
    text-decoration: none;
}

.main {
    flex: 1 0 80%;
    padding: 20px;
    overflow-y: auto;
}

.main h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"], form input[type="number"], form input[type="email"], form input[type="date"], form input[type="password"], form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="radio"], form input[type="checkbox"] {
    margin-left: 10px;
}

form input[type="submit"], form input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form div {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    flex: 0 0 10%;
}

.footer img {
    margin-top: 10px;
}

.footer p {
    margin: 0;
}

.footer2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    flex: 0 0 10%;
}
.footer2 a{
	color: #fff;
}
.aside {
	text-align: center;	
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    
}

